<!DOCTYPE html>
<html>

<head>
<script src="https://cdn.tailwindcss.com"></script>
<div class="absolute top-0 left-0">
<h1>CHATBUNNY</h1>
</div>
</head>

<body style="background-color: #F191AF;" class ="min-h-screen flex flex-col items-center mt-[300px] text-white">
    <div class="flex items-center justify-center">
<button type="button" class="hover:scale-105 transition-transform duration-300" onclick="window.location.href='chat.html'">
    <img src="../img/start-bunny.png" style="height: 300px;">
</button>
    </div>
</body>


</html>
